.history/
.vscode/
*.code-workspace
verilog-6502/~$*
cc65/rom
cc65/rom.hex
cc65/rom.map
cc65/*.o
cc65/*.lst
kickc/*.asm
kickc/*.bin
kickc/rom.hex
icarus/rom.hex
icarus/tb_soc_6502
icarus/tb_soc_65C02
icarus/tb_soc_65CE02
icarus/tb_soc_45GS02
icarus/tb_soc_6502_verification
icarus/tb_soc_65C02_verification
icarus/tb_soc_65C02_decimal_test
icarus/tb_soc_65CE02_opcodes_test
icarus/*.vcd
icarus/*.lxt
icarus/*.gtkw
icarus/obj_dir
icestorm/code.hex
icestorm/rom.hex
icestorm/temp.asc
icestorm/hx8k_65xx_top.asc
icestorm/hx8k_65xx_top.bin
icestorm/hx8k_65xx_top.json
icestorm/hx8k_65xx_top.rpt
icestorm/runs/
